<app-navbar-component></app-navbar-component>
<div class="container">
  <input type="search" [(ngModel)]="rechercher" class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
  <br>
  <h2>Nos Produits</h2>

  <div class="col-md-12">
    <pagination-controls  class="my-pagination"
                          align="center"
                          id="listing_pagination"
                          (pageChange)="page = $event"
                          maxSize="5"
                          directionLinks="true"
                          responsive = "true"
                          autoHide="true"
                          previousLabel="Precedent"
                          nextLabel="Suivant"
    >
    </pagination-controls>
  </div>

  <div class="row">

      <div class="col-md-3" *ngFor="let product of products | searchFiler:rechercher | paginate: {
      id: 'listing_pagination',
      itemsPerPage: 8,
      currentPage: page,
      totalItems: totalRecord
      }">
        <div class="product-top">
<!--          <a [routerLink]="product"></a>-->
           <a routerLink="../produit/{{product.id}}"><img src="{{product?.fileSource}}" height="300px" width="50px"></a>
          <div class="product-bottom text-center">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
            <h3>{{product.name}}</h3>
            <h5>{{product.prix}} TND</h5>
          </div>
          <div class="overlay">
            <button type="button" class="btn btn-danger" title="Supprimer Produit" (click)="deleteProduct(product.id)">Supprimer</button>
            <button type="button" class="btn btn-primary" title="quantite Produit" (click)="getDescription(product)">Reclamation</button><br>
          </div>
        </div>

    </div>

  </div>

</div>

<div *ngIf="showReclamation">

  <div class="row">
    <div class="col-sm-6">
      <app-relamation-component [descriptionFils]="prodcutId" (envoyerNom)="getNom($event)"></app-relamation-component>
    </div>
    <div class="col-sm-6">
      <p class="font-weight-bold">{{nomProduitFils}}</p>
    </div>
  </div>



</div>


