<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>


<div class="container">
  <input type="search" [(ngModel)]="rechercher" class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
  <button id="btn-add-product" type="button" class="btn float-right btn-success" title="Ajouter Produit" routerLink="ajouter">Ajouter Un Produit</button>
  <h2>Nos Produits</h2>
  <div class="row">

      <div class="col-md-3" *ngFor="let product of products | searchFiler:rechercher">
        <div class="product-top">
<!--          <a [routerLink]="product"></a>-->
           <a [routerLink]="product.id"><img src="{{product.image}}" height="300px" width="50px"></a>
          <div class="product-bottom text-center">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
            <h3>{{product.name}}</h3>
            <h5>{{product.prix}} TND</h5>
          </div>
          <div class="overlay">
            <button type="button" class="btn btn-danger" title="Supprimer Produit" (click)="deleteProduct(product.id)">Supprimer</button>
            <button type="button" class="btn btn-primary" title="quantite Produit" (click)="getDescription(product.id)">Reclamation</button><br>
          </div>
        </div>

    </div>

  </div>
</div>

<div *ngIf="showReclamation">
  <app-relamation-component [descriptionFils]="prodcutId"></app-relamation-component>
</div>



