<app-navbar-component></app-navbar-component>


<main class="container">

  <!-- Left Column / Headphones Image -->
  <div class="left-column">
    <img src="{{product?.fileSource}}">
  </div>


  <!-- Right Column -->
  <div class="right-column">

    <!-- Product Description -->
    <div class="product-description">
      <span>{{product.categorie}}</span>
      <h1>{{product.name}}</h1>
      <p>{{product.description}}</p>
    </div>

    <!-- Product Configuration -->
    <div class="product-configuration">

      <!-- Product Color -->
      <div class="product-color">
        <span>Color</span>

        <div class="color-choose">
          <div>
            <input data-image="red" type="radio" id="red" name="color" value="red" checked>
            <label for="red"><span></span></label>
          </div>
          <div>
            <input data-image="blue" type="radio" id="blue" name="color" value="blue">
            <label for="blue"><span></span></label>
          </div>
          <div>
            <input data-image="black" type="radio" id="black" name="color" value="black">
            <label for="black"><span></span></label>
          </div>
        </div>

      </div>


    </div>

    <!-- Product Pricing -->
    <div class="product-price">
      <span>{{product.prix}} TND</span>
      <a class="cart-btn" routerLink="/modifier/{{product.id}}">Modifier</a>
    </div>
  </div>
</main>
