<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<form class="text-center border border-light p-5" [formGroup]="productData" *ngIf="productData">

  <p class="h4 mb-4">Modifier Produit</p>

  <div class="form-row mb-4">
    <div class="col">

      <input type="text" class="form-control" placeholder="Nom Produit" formControlName="name">

    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Image" formControlName="image">

    </div>
  </div>

  <input type="text" class="form-control" placeholder="Description" aria-describedby="defaultRegisterFormPhoneHelpBlock" formControlName="description">
  <small class="form-text text-muted mb-4">
    MinLength 5
  </small>

  <input type="text" class="form-control" placeholder="Categorie" aria-describedby="defaultRegisterFormPhoneHelpBlock" formControlName="categorie">
  <small class="form-text text-muted mb-4">
    minLength 3
  </small>

  <input type="number" class="form-control" placeholder="Prix" aria-describedby="defaultRegisterFormPhoneHelpBlock" formControlName="prix">
  <small class="form-text text-muted mb-4">
    Must Be A Number
  </small>

  <button class="btn btn-info my-4 btn-block" type="submit" [disabled]="productData.invalid" (click)="updateProduct(productData.value)">Modifier</button>
</form>

