<app-navbar-component></app-navbar-component>

<form class="text-center border border-light p-5" [formGroup]="productData" *ngIf="productData">

  <p class="h4 mb-4">Modifier Produit</p>

  <div class="form-row mb-4">
    <div class="col">

      <input type="text" class="form-control" placeholder="Nom Produit" formControlName="name">

    </div>
    <div class="col">
      <img [src]="imageSrc" *ngIf="imageSrc" style="height: 250px; width:250px">
      <input type="file" id="file" class="form-control" placeholder="Image" formControlName="image" (change)="onFileChange($event)">

    </div>

  </div>

  <input type="text" class="form-control" placeholder="Description" aria-describedby="defaultRegisterFormPhoneHelpBlock" formControlName="description">
  <small class="form-text text-muted mb-4">
    MinLength 5
  </small>

  <input type="text" class="form-control" placeholder="Categorie" aria-describedby="defaultRegisterFormPhoneHelpBlock" formControlName="categorie">
  <small class="form-text text-muted mb-4">
    minLength 3
  </small>

  <input type="number" class="form-control" placeholder="Prix" aria-describedby="defaultRegisterFormPhoneHelpBlock" formControlName="prix">
  <small class="form-text text-muted mb-4">
    Must Be A Number
  </small>

  <input type="number" class="form-control" placeholder="Quantite" aria-describedby="defaultRegisterFormPhoneHelpBlock" formControlName="quantite">
  <small class="form-text text-muted mb-4">
    Must Be A Number
  </small>

  <button class="btn btn-info my-4 btn-block" type="submit" [disabled]="productData.invalid" (click)="updateProduct(productData.value)">Modifier</button>
</form>

