<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<form class="text-center border border-light p-5" #form="ngForm">

  <p class="h4 mb-4">Ajouter Un Produit</p>

  <div class="form-row mb-4">
    <div class="col">
      <input type="text" class="form-control" name="name" placeholder="Nom Produit" required="required" [ngModel] #name="ngModel">
    </div>
    <div class="col">
<!--      <input type="text" class="form-control" placeholder="Image" name="image" required="required" [ngModel] #image="ngModel">-->
    <input type="file" accept="image/" (change)="onFileChangeed($event)" [(ngModel)]="currentInput" name="image" [ngModel] #image="ngModel">
    </div>
  </div>

  <input type="text" class="form-control" placeholder="Description" name="description" aria-describedby="defaultRegisterFormPhoneHelpBlock" required="required" maxlength="250" minlength="5" [ngModel] #description="ngModel">
  <small class="form-text text-muted mb-4">
    MinLength 5
  </small>

  <input type="text" class="form-control" placeholder="Categorie" name="categorie" aria-describedby="defaultRegisterFormPhoneHelpBlock" required="required" minlength="3" maxlength="25" [ngModel] #categorie="ngModel">
  <small class="form-text text-muted mb-4">
    minLength 3
  </small>

  <input type="number" class="form-control" placeholder="Prix" name="prix" aria-describedby="defaultRegisterFormPhoneHelpBlock" required="required" [ngModel] #prix="ngModel">
  <small class="form-text text-muted mb-4">
    Must Be A Number
  </small>

  <button [disabled]="form.invalid" class="btn btn-info my-4 btn-block" type="submit" (click)="ajouterProduit(form.value)">Ajouter</button>
</form>
