<!--<div class="col-md-6 offset-md-3 mt-5">-->
<!--  <div class="alert alert-info">-->
<!--    Username: test<br />-->
<!--    Password: test-->
<!--  </div>-->
<!--  <div class="card">-->
<!--    <h4 class="card-header">Admin Dashboard</h4>-->
<!--    <div class="card-body">-->
<!--      <form #form="ngForm">-->
<!--        <div class="form-group">-->
<!--          <label>Username</label>-->
<!--          <input type="text" name="username" placeholder="Username" class="form-control" required="required" [ngModel] #username="ngModel"/>-->

<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label>Password</label>-->
<!--          <input type="password" name="password" placeholder="Password" class="form-control" required="required" [ngModel] #password="ngModel"/>-->

<!--        </div>-->
<!--        <button [disabled]="form.invalid" class="btn btn-primary" type="submit" (click)="verifierLogin(form.value)">-->
<!--          <span class="spinner-border spinner-border-sm mr-1"></span>-->
<!--          Login-->
<!--        </button>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--test new login template-->

<html>

    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Untitled</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    </head>

    <body>
    <div class="login-dark">

          <form #form="ngForm">

                <h3>Admin Dashboard</h3>
                <div class="illustration">
                  <i class="icon ion-ios-locked-outline"></i>
                </div>
                <div class="form-group">
                  <input type="text" name="username" placeholder="Username" class="form-control" required="required" [ngModel] #username="ngModel">
                </div>
                <div class="form-group">
                  <input type="password" name="password" placeholder="Password" class="form-control" required="required" [ngModel] #password="ngModel">
                </div>
                <div class="form-group">
                  <button [disabled]="form.invalid" class="btn btn-primary btn-block" type="submit" (click)="verifierLogin(form.value)">Log In</button>
                </div>
                <div [ngStyle]="logged? {'color':'green'} : {'color':'red'}">
                  <p>{{message}}</p>
                </div>

          </form>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

    </body>

</html>
